[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = ">=4.9.3"
requests = ">=2.25.0"
selenium = ">=4.11.2"
pyjpboatrace = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"
twine = "*"
wheel = "*"
pytz = "*"
